<!-- https://ninjamock.com/s/JG7SBSx -->

<div class="formset">
  <h3>
    <u>Worker profile page</u>
  </h3>
  <!-- <div class="form-row forRow">
    <div *ngIf="errors.surname" class="col-md-3">
      <div class="alert alert-dark" role="alert">
        {{errors.surname}}
      </div>
    </div> 
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div class="alert alert-dark" role="alert">
        Name must between 1 to 255
      </div>
    </div>
   <div *ngIf="errors.middlename" class="col-md-3">
      <div class="alert alert-dark" role="alert">
        {{errors.middlename}}
      </div>
    </div>
  </div> -->
  <div class="form-row forRow">

    <div class="col-md-3">
      <label>Contact person (full name)*:</label>
    </div>

    <div class="col-md-2">
      <input [(ngModel)]="workerprofile.surname" name="surname" type="text" class="form-control" placeholder="Surname">
    </div>

    <div class="col-md-2">
      <input [(ngModel)]="workerprofile.name" name="name" type="text" class="form-control" placeholder="Name">
    </div>

    <div class="col-md-2">
      <input [(ngModel)]="workerprofile.middlename" name="middlename" type="text" class="form-control"
             placeholder="Middlename">
    </div>
  </div>
  <br>
  <!-- <div *ngIf="errors.phone" class="form-row forRow">
    <div class="alert alert-dark" role="alert">
      {{errors.phone}}
    </div>
  </div> -->
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Phones*:</label>
    </div>
    <div class="col-md-5">
      <div class="form-group" *ngFor="let phone of workerprofile.contacts.phones; let i = index;">
        <input class="form-control" [(ngModel)]="workerprofile.contacts.phones[i].phone">
      </div>
    </div>
    <div class="col-md-1">
      <button class="form-control" (click)="AddPhone()">+</button>
    </div>
  </div>
  <br>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Viber:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" [(ngModel)]="workerprofile.contacts.viber">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Telegram:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" [(ngModel)]="workerprofile.contacts.telegram">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Whats up:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" [(ngModel)]="workerprofile.contacts.whats_up">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Skype:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" [(ngModel)]="workerprofile.contacts.skype">
    </div>
  </div>
  <br>
  <!-- <div *ngIf="errors.password" class="form-row">
    <div class="alert alert-dark" role="alert">
      {{errors.password}}
    </div>
  </div>
  <div *ngIf="errors.confirm_password" class="form-row">
    <div class="alert alert-dark" role="alert">
      {{errors.confirm_password}}
    </div>
  </div> -->
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Password*:</label>
    </div>
    <div class="col-md-6">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="workerprofile.password">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Confirm password*:</label>
    </div>
    <div class="col-md-6">
      <input type="password" class="form-control" placeholder="Confirm password"
             [(ngModel)]="workerprofile.confirm_password">
    </div>
  </div>


  <!--<div>
    <img src="https://www.colourbox.com/preview/15323674-advertisment.jpg" alt="advertisment" class="adv col-md-12" />
  </div>-->

  <div>
    <label><strong>* Required</strong></label>
  </div>

  <div class="form-row float-right">
    <div class="col-md-auto">
      <button class="form-control" (click)="SendData()">Save changes</button>
    </div>
    <div class="col-md-auto">
      <button class="form-control">Cancel</button>
    </div>
  </div>
</div>
