<!-- https://ninjamock.com/s/JG7SBSx -->

<div class="formset">
  <h3>
    <u>Worker profile page</u>
  </h3>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Contact person (full name)*:</label>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" placeholder="Surname">
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" placeholder="Middlename">
    </div>
  </div>
  <br>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Phones*:</label>
    </div>
    <div class="col-md-5">
      <div>
        <input type="text" class="form-control" placeholder="+380(_ _) _ _ _ - _ _ - _ _">
      </div>
      <div>
        <input type="text" class="form-control" placeholder="+380(_ _) _ _ _ - _ _ - _ _">
      </div>
    </div>
    <div class="col-md-1">
      <input type="button" class="form-control" value="+">
    </div>
  </div>
  <br>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Viber:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Telegram:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Whats up:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Skype:</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <br>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Password*:</label>
    </div>
    <div class="col-md-6">
      <input type="password" class="form-control" placeholder="Password">
    </div>
  </div>
  <div class="form-row forRow">
    <div class="col-md-3">
      <label>Confirm password*:</label>
    </div>
    <div class="col-md-6">
      <input type="password" class="form-control" placeholder="Confirm password">
    </div>
  </div>


  <div>
    <img src="https://www.colourbox.com/preview/15323674-advertisment.jpg" alt="advertisment" class="adv col-md-12" />
  </div>

  <div>
    <label><strong>* Required</strong></label>
  </div>

  <div class="form-row float-right">
    <div class="col-md-auto">
      <input type="button" class="form-control" value="Save changes" />
    </div>
    <div class="col-md-auto">
      <input type="button" class="form-control" value="Cancel" />
    </div>
  </div>
</div>


