<div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-row">
        <div class="form-group col-md-6 col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="filters.query" name="query" placeholder="Query">
        </div>
        <div class="form-group col-md-2 col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="filters.city" name="city" placeholder="City">
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <button type="submit" class="btn btn-primary mb-2 btn-sm" (click)='onSearchClick()'>Find vacancies</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p *ngIf="!paginatedVacancyList"><em>Loading...</em></p>
      <div class="col-md-8 col-sm-8" *ngIf="paginatedVacancyList">
        <div class="card" *ngFor="let vacancy of paginatedVacancyList.paginatedList">
          <div class="card-header">
            <h3 class="header-wrapper">   <a [routerLink]='[vacancy.id]'>{{vacancy.title}} </a><span class="cost" data-toggle="tooltip" title="{{vacancy.vacancyCost}} $" *ngIf="vacancy.vacancyCost">{{vacancy.vacancyCost}}</span></h3>

          </div>
          <div class="card-body">
            <div class="row">
              <div class="details-wrapper col-md-6">
                <div>
                  <span>{{vacancy.companyTitle}}</span>
                </div>
                <div>
                  <span>{{vacancy.vacancyCity}}</span>
                </div>
                <div>
                  <span *ngIf="vacancy.isHot" class="vacancy-hot">hot</span>
                </div>
                <div>
                  <span *ngIf="vacancy.isVip" class="vacancy-vip">vip</span>
                </div>
              </div>
              <div class="image-wrapper col-md-6">
                <img class="logo" src={{vacancy.companyLogo}} alt="Company logo" />
              </div>
            </div>
            <p class="card-text">{{vacancy.description}}</p>
            <div class="date-wrapper"> <span>{{vacancy.date}}</span> </div>
          </div>
        </div>
        <nav>
          <ul *ngIf="pageHelper.pages && pageHelper.pages.length" class="pagination  justify-content-center">
            <li [ngClass]="{disabled:pageHelper.currentPage === 1}" class="page-item">
              <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pageHelper.currentPage === 1}" class="page-item">
              <a class="page-link" (click)="setPage(pageHelper.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pageHelper.pages" [ngClass]="{active:pageHelper.currentPage === page}" class="page-item">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pageHelper.currentPage === pageHelper.totalPages}" class="page-item">
              <a class="page-link" (click)="setPage(pageHelper.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pageHelper.currentPage === pageHelper.totalPages}" class="page-item">
              <a class="page-link" (click)="setPage(pageHelper.totalPages)">Last</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4 col-sm-8">
        <form *ngIf='isFiltersVisible'>
            <app-filter-component [filters]=filters></app-filter-component>
        </form>
      </div>
    </div>
  </div>
</div>
