<div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-row">
        <div class="form-group col-md-6 col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="filters.query" name="query" placeholder="Query">
        </div>
        <div class="form-group col-md-2 col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="filters.city" name="city" placeholder="City">
        </div>
        <div class="form-group col-md-2 col-sm-2">
          <button type="submit" class="btn btn-primary mb-2 btn-sm" (click)='onSearchClick()'>Find vacancies</button>
        </div>
        <div class="form-group col-md-2 col-sm-2">
       <button class="btn btn-outline-info btn-sm" (click)='ToggleFiltersVisibility()'>{{isFiltersVisible ? 'hide Filters'
            : 'show Filters'}}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8" *ngIf="paginatedVacancyList">
        <div class="card"  *ngFor="let vacancy of paginatedVacancyList.paginatedList">
          <div class="card-header">
            <h3> {{vacancy.title}} <span class="cost" data-toggle="tooltip"  title="{{vacancy.vacancyCost}} $" *ngIf="vacancy.vacancyCost">{{vacancy.vacancyCost}}</span></h3>
          </div>
           <div class="card-body">
             <div class="row">
              <div class="details-wrapper col-md-6">
                <div>
                  <span>{{vacancy.companyTitle}}</span>
                </div>
                <div>
                    <span>{{vacancy.vacancyCity}}</span>
                  </div>
                  <div >
                       <span *ngIf="vacancy.isHot" class="vacancy-hot">hot</span>
                    </div>
                </div>
              <div class="image-wrapper col-md-6">
                <img class="logo" src={{vacancy.companyLogo}} alt="Company logo" />
              </div>
               </div>
            <p class="card-text">{{vacancy.description}}</p>
            <div class="date-wrapper"> <span>{{vacancy.date}}</span> </div>
          </div>
        </div>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
      </div>
      <div class="col-md-4 col-sm-8">
        <form *ngIf='isFiltersVisible'>
          <div class="form-group">
            <h3>Gender</h3>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="male" id="defaultCheck1" [(ngModel)]="filters.gender.male"
                name="male">
              <label class="form-check-label" for="defaultCheck1">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="female" id="defaultCheck2" [(ngModel)]="filters.gender.female"
                name="female">
              <label class="form-check-label" for="defaultCheck2">
                Female
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="transgender" id="defaultCheck3" [(ngModel)]="filters.gender.transgender"
                name="transgender">
              <label class="form-check-label" for="defaultCheck3">
                Transgender
              </label>
            </div>
            <hr>
          </div>
          <div class="form-group">
            <h3>Language</h3>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="without" id="without" [(ngModel)]="filters.language.without"
                name=" without">
              <label class="form-check-label" for=" without">
                without
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="beginer" id="beginer" [(ngModel)]="filters.language.beginer"
                name="beginer">
              <label class="form-check-label" for="beginer">
                beginer
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="elementary" id="elementary" [(ngModel)]="filters.language.elementary"
                name="elementary">
              <label class="form-check-label" for="elementary">
                elementary
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="intermediate" id="intermediate" [(ngModel)]="filters.language.intermediate"
                name="intermediate">
              <label class="form-check-label" for="intermediate">
                intermediate
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="advanced" id="advanced" [(ngModel)]="filters.language.advanced"
                name="advanced">
              <label class="form-check-label" for="advanced">
                advanced
              </label>
            </div>
            <hr>
          </div>
          <div class="form-group">
            <h3>Experience</h3>
            <select class="form-control" id="experience" [(ngModel)]="filters.experience" name="experience">
              <option>without</option>
              <option>1 year</option>
              <option>1-3 years</option>
              <option>over 3 years</option>
            </select>
            <hr>
          </div>
          <div class="form-group">
            <h3>Accommodation</h3>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="without" id="accomodation1" [(ngModel)]="filters.accomodation.without"
                name="without">
              <label class="form-check-label" for="accomodation1">
                without
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="free" id="accomodation2" [(ngModel)]="filters.accomodation.free"
                name="free">
              <label class="form-check-label" for="accomodation2">
                free
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="paid" id="accomodation3" [(ngModel)]="filters.accomodation.paid"
                name="paid">
              <label class="form-check-label" for="accomodation3">
                paid
              </label>
            </div>
            <hr>
          </div>
          <div class="form-group">
            <h3>Vacancy cost</h3>
            <input type="range" class="custom-range" id="vacancycost" min="0" max="10000" step="100" [(ngModel)]="filters.vacancyCost"
              name="vacancyCost">
            <label>value: {{filters.vacancyCost}} $</label>
            <hr>
          </div>
          <div class="form-group">
            <h3>Visa</h3>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="On" id="visaOn" [(ngModel)]="filters.visa.on" name="visaOn">
              <label class="form-check-label" for="visaOn">
                On
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Off" id="visaOff" [(ngModel)]="filters.visa.off"
                name="visaOff">
              <label class="form-check-label" for="visaOf">
                Off
              </label>
            </div>
            <hr>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
