<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      
      <div class="accounttype">
          <input class="worker" type="radio" value="None" id="radioOne" name="account" checked/>
          <label for="radioOne" class="radio" chec>Worker</label>
          <input class="employer" type="radio" value="None" id="radioTwo" name="account" />
          <label for="radioTwo" class="radio">Employer</label>
        </div>

      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
     
      
     
      <div>
        
          <button type="cancel" name="signup_cancel" value="Cancel"></button>
          <input type="submit" name="signup_submit" value="Sign me up" />
      </div>
      
    
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
    </div>
    