
<form id="login-box" >
    <div class="left">
        <div class="form-group">
          <h3>Registration to JobHunter</h3>
      
            <div class="accounttype">
              <input class="worker" type="radio" value="None" id="radioOne" name="account" checked/>
              <label for="radioOne" class="radio" chec>Worker</label>
              <input class="employer" type="radio" value="None" id="radioTwo" name="account" />
              <label for="radioTwo" class="radio">Employer</label>
            </div>
              <input type="text" name="username"  required placeholder="Username*" />
              <input type="text" name="email" required placeholder="E-mail*" />
      
            <div>
              <input type="password" name="password" required placeholder="Password*" />
              <input type="password" name="password2" required placeholder="Retype password*" />
            </div>  
              <p class="reqlabel">
               * - required 
              </p>
              <button class="loginBtn loginBtn--facebook">
              Login with Facebook
              </button>
            <div>   
            <button type="cancel" name="signup_cancel" value="Cancel">Cancel</button>
            <button type="submit" name="signup_submit" value="Sign me up">Sing me up</button>
            </div>
      </div>