<div class="row">
  <div class="container">
    <h3 style="padding-top: 3%; ">Hot vacancies</h3>
    <hr>
    <div class="container d-flex justify-content-around">
      <div _ngcontent-c3="" class="row">
        <div *ngFor="let vacancy of hotVacancies">
          <div class="col-12">
            <div class="card text-white bg-primary border-success mb-3" style="max-width: 20rem;">
              <div class="card-header">
                <h4 class="card-title">{{vacancy.name}} <span style="float: right; font-size: 8pt; ">2 days ago</span></h4>
              </div>
              <div class="card-body">
                <p>Company</p>
                <p class="card-text">
                  Some quick example text to build on the card title
                  and make up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr>
</div>
