.footer {
    background: rgb(62,63,58);
  }
  .footer ul,li{
    display: block;
    padding: 0;
    margin: 0;
  }
  .menu__item{
    font-size: 12pt;
    margin: 6px;
  }
  .footer-p{
    font-size: 13pt;
    position: relative;
    color: white;
    text-align: center;  
  }
  .footer-p-bot{
    position: relative;
    color: white;
    text-align: center; 
    padding-top: 50px; 
  }
  .soc-net-img{
    width: 35px;
    height: auto;
    margin: 4px
  }